.tabs {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 25px;
}
.logonakaka {
  color: #000;
  font-family: var(--font-logo);
  font-size: 6rem;
  margin-left: 200px;
}
.tab {
  font-size: 3rem;
  padding-bottom: 6px;
  cursor: pointer;
  color: #b9b9b9;
  border-bottom: 2px solid transparent;
}

.tab.active {
  color: black;
  border-color: black;
}

.form {
  width: 350px;
  margin: 0 auto;
  display: none;
  flex-direction: column;
  gap: 20px;
}

.form.active {
  display: flex;
}

input {
  padding: 13px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.btn {
  /* width: 300px; */
  padding: 13px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.forgot {
  margin-top: 10px;
  color: #000;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: -0.9px;
}

.note {
  font-size: 1.6rem;
  line-height: 1.4;
}
