@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%); 
    }
    to {
        opacity: 1;
        transform: translateX(0) ; 
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%); 
    }
    to {
        opacity: 1;
        transform: translateX(0) ; 
        
    }
}
@keyframes slideAhalfInLeft {
    from {
        opacity: 0;
        transform: translateX(-10%); 
    }
    to {
        opacity: 1;
        transform: translateX(0) ; 
        
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30%); 
    }
    to {
        opacity: 1; 
        transform: translateY(0); 
    }
}